/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
	body{
		padding-top: 89px;
	}
	.c-padding{
		padding-top: 50px;
		padding-bottom:70px;
	}
	/*header start*/
	header{
		padding: 10px 0;
	}
	.manu ul li a{
	padding: 10px 0 0 !important;
	font-size: 20px;
	text-align: right;
}
/*--slider start--*/
.slider{
	padding-bottom: 60px;
}
.c-ind{
	bottom: -55px;
}
.c-ind [data-bs-target]{
 	width: 13px;
    height: 13px;
}
.s-text{
	margin-top: 0;
}
.s-text h1{
	font-size: 25px;
}
.s-text h2{
	margin: 10px 0;
	font-size: 18px;
}
.s-text p{
	margin-bottom: 20px;
}
.s-icon ul li{
	margin-right: 15px !important;
}
.s-icon ul li i{
	font-size: 35px;
	color: #010101;
	transition: .3s;
}
/*feature start*/
.c-h1{
	margin-bottom: 10px;
	font-size: 24px;
}
.c-p{
	font-size: 17px;
	line-height: 25px;
}
.f-item{
	margin-top: 30px;
}
.f-icon i{
	margin-top: 0px;
	font-size: 35px;
}	
.f-text{
	text-align: center;
}
.f-text h2{
	margin-bottom: 0px;
	font-size: 20px;
}
.f-text p{
	letter-spacing: 0px;
}
/*feature end*/
/*contact start*/
.c-form{
	margin-top: 40px;
	margin-bottom: 40px;
}
.c-input{
	height: 45px;
	padding: 10px 10px;
}
.c-submit{
	height: 45px;
}
.c-icon li{
	margin-right: 25px !important;
}
.c-icon li i{
	font-size: 38px;
}
/*contact end*/	
/*footer start*/
footer{
	text-align: center;
}
.f-1{
	text-align: center;
}
.f-2{
	margin-bottom: 40px;
	text-align: center;
}
.f-1 address{
	padding-bottom: 25px;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
	body{
		padding-top: 109px;
	}
	.c-padding{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	/*header start*/
	.manu ul li a{
	padding: 10px 0 0 !important;
	font-size: 20px;
	text-align: right;
}
/*--slider start--*/
.slider{
	padding-bottom: 60px;
}
.c-ind{
	bottom: -55px;
}
.c-ind [data-bs-target]{
 	width: 13px;
    height: 13px;
}
.s-text{
	margin-top: 0;
}
.s-text h1{
	font-size: 25px;
}
.s-text h2{
	margin: 10px 0;
	font-size: 18px;
}
.s-text p{
	margin-bottom: 20px;
}
.s-icon ul li{
	margin-right: 20px !important;
}
.s-icon ul li i{
	font-size: 35px;
	color: #010101;
	transition: .3s;
}
/*feature start*/
.c-h1{
	margin-bottom: 10px;
	font-size: 24px;
}
.c-p{
	font-size: 17px;
	line-height: 25px;
}
.f-item{
	margin-top: 30px;
}
.f-icon i{
	margin-top: 0px;
	font-size: 35px;
}	
.f-text{
	text-align: center;
}
.f-text h2{
	margin-bottom: 0px;
	font-size: 20px;
}
.f-text p{
	letter-spacing: 0px;
}
/*contact start*/
.c-form{
	margin-top: 30px;
	margin-bottom: 35px;
}
.c-input{
	height: 45px;
	padding: 10px 10px;
}
.c-submit{
	height: 45px;
}
.c-icon li{
	margin-right: 25px !important;
}
.c-icon li i{
	font-size: 40px;
}
/*contact end*/	
/*footer start*/
footer{
	padding-bottom: 70px;
}
.f-1{
	text-align: center;
}
.f-2{
	margin-top: 40px;
	text-align: center;
}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
	body{
		padding-top: 109px;
	}
	.c-padding{
		padding-top: 80px;
		padding-bottom: 100px;
	}
	/*header start*/
	.manu ul li a{
	padding: 10px 0 0 !important;
	text-align: right;
}
/*feature start*/
.f-item{
	margin-top: 50px;
}
/*contact start*/
.c-form{
	margin-top: 65%;
	margin-bottom: 70px;
}
/*footer start*/
footer{
	padding-bottom: 100px;
}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
	body{
		padding-top: 109px;
	}

}

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px){
	body{
		padding-top: 109px;
	}
}


/* Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px){
	body{
		padding-top: 109px;
	}

}